<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application requires iPad environment</key>
	<true/>
	<key>Capture Keyboard Input</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIScene Configuration</key>
	<dict>
		<key>Capture Keyboard Input</key>
		<true/>
		<key>UIRequiresFullScreen</key>
		<false/>
	</dict>
</dict>
</plist>
